<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: html_header" />
<body>
<div class="container-fluid">
	<head th:replace="header :: header" />
  <center><h3 class="text-success">Registartion</h1></center>
  <p> </p>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
     <div class="row">
    	<div class="col-sm-4">
          <div class="form-group">
            <label for="usr">First Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
    	</div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">Last Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">E-Code:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
       </div>
         <div class="row">
    	<div class="col-sm-4">
          <div class="form-group">
            <label for="usr">First Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
    	</div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">Last Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">E-Code:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
       </div>
         <div class="row">
    	<div class="col-sm-4">
          <div class="form-group">
            <label for="usr">First Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
    	</div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">Last Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="col-sm-4">
        	<div class="form-group">
            <label for="usr">E-Code:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
       </div>
       
      <div class="row">
    	<div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><button type="button" class="btn btn-success float-right">Submit</button></div>
      </div>
    
      
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div th:replace="footer :: html_footer" />
</body>
</html>
